$fontColor: #02095C;

html {
  background-color: #F7F4D5;

  button {
    background-color: #FAA74D;
    padding: .3em;
  }

  label {
    color: $fontColor;
  }

  li {
    color: $fontColor;
    font: 14;
  }
}
////////
@mixin fontStyle ($fontFamily: Calibri, $fontColor: #02095C, $fontSize: 16){
  font-family: $fontFamily;
  color: $fontColor;
  font: $fontSize;
}

html {
  background-color: #3677D2;
}
  button {
    @include fontStyle;
  	background-color:#C9CBCE;
  	border-radius:9px;
  	display:inline-block;
  	cursor:pointer;
  	padding:8px 10px;
  	text-decoration:none;
  }

  label {
    color: $fontColor;
  }

  li {
    color: $fontColor;
    font-family:$fontFamily;
    font: 18;
  }
