<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Lions, Tigers, and Bears, Oh My!</title>
    <link rel="stylesheet" href="application.css">
  </head>

  <body data-ng-app="ohMyApp">

    <my-animal-form data-species="lion"></my-animal-form>
    <my-animal-form data-species="tiger"></my-animal-form>
    <my-animal-form data-species="bear"></my-animal-form>

    <section id="ohMySection" data-ng-controller="OhMyController as ohMyCtrl"
    data-ng-init="total.hide = true; friends.hide = true">

      <button data-ng-click="ohMyCtrl.getTotals(); total.hide = false">
        Show Number of Lions, Tigers, and Bears</button>
      <button data-ng-if="!total.hide" data-ng-click="total.hide = true">
        Hide Totals</button>

      <p id="totalsText" data-ng-if="!total.hide">{{ ohMyCtrl.totals.text }}</p>

      <form data-ng-submit="ohMyCtrl.getFriends()">
        <input type="text" name="continent" placeholder="Choose Continent"
        data-ng-model="ohMyCtrl.continent.name">

        <button type="submit" data-ng-click="friends.hide = false">
          Find Friends</button>
      </form>

      <button data-ng-if"!friends.hide" data-ng-click="friends.hide = true;
        ohMyCtrl.continent = null">Hide Friends</button>

      <p id="friendsText" data-ng-if="!friends.hide">{{ ohMyCtrl.friends.text }}</p>

    <script src="./bundle.js"></script>
  </body>
</html>
