<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Lions, Tigers, and Bears, Oh My!</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body data-ng-app="ohMyApp">

    <section id="lionSection" data-ng-controller="LionsController as lionsCtrl"
    data-ng-init="lion.hide = true">

      <button data-ng-click="lionsCtrl.getAll(); lion.hide = false">
        Show All Lions</button>
      <button data-ng-if="!lion.hide" data-ng-click="lion.hide = true">
        Hide All Lions</button>

      <ul data-ng-if="!lion.hide" id="lionlist">
        <li data-ng-repeat="lion in lionsCtrl.lions">
        <span data-ng-if="!lion.editing">{{ lionsCtrl.describe(lion) }}</span>
        <form data-ng-if="lion.editing" data-ng-submit="lionsCtrl.updateLion(lion)">
          <label for="name">Name</label>
          <input type="text" name="name" data-ng-model="lion.name">

          <label for="variety">Variety</label>
          <input type="text" name="variety" data-ng-model="lion.variety">

          <label for="location">Location</label>
          <input type="text" name="location" data-ng-model="lion.location">

          <label for="continent">Continent</label>
          <input type="text" name="continent" data-ng-model="lion.continent">

          <label for="nemesis">Nemesis</label>
          <input type="text" name="nemesis" data-ng-model="lion.nemesis">

          <button type="submit">Update Lion</button>
          <button data-ng-click="lions.editing = false">Cancel</button>
        </form>

        <button data-ng-if="!lion.editing" data-ng-click="lion.editing = true">Edit</button>
        <button data-ng-click="lionsCtrl.removeLion(lion)">Remove Lion</button>
        </li>
      </ul>

      <form data-ng-if="!lion.hide" data-ng-submit="lionsCtrl.createLion()">
        <label for="name">Name</label>
        <input type="text" name="name" data-ng-model="lionsCtrl.newLion.name">

        <label for="variety">Variety</label>
        <input type="text" name="variety" data-ng-model="lionsCtrl.newLion.variety">

        <label for="location">Location</label>
        <input type="text" name="location" data-ng-model="lionsCtrl.newLion.location">

        <label for="continent">Continent</label>
        <input type="text" name="location" data-ng-model="lionsCtrl.newLion.continent">

        <label for="nemesis">Nemesis</label>
        <input type="text" name="nemesis" data-ng-model="lionsCtrl.newLion.nemesis"
        placeholder="poachers">

        <button type="submit">Create New Lion</button>
      </form>
    </section>

    <section id="tigerSection" data-ng-controller="TigersController as tigersCtrl"
    data-ng-init="tiger.hide = true">

      <button data-ng-click="tigersCtrl.getAll(); tiger.hide = false">
        Show All Tigers</button>
      <button data-ng-if="!tiger.hide" data-ng-click="tiger.hide = true">
        Hide All Tigers</button>

      <ul data-ng-if="!tiger.hide" id="tigerlist">
        <li data-ng-repeat="tiger in tigersCtrl.tigers">
        <span data-ng-if="!tiger.editing">{{ tigersCtrl.describe(tiger) }}</span>
        <form data-ng-if="tiger.editing" data-ng-submit="tigersCtrl.updateTiger(tiger)">
          <label for="name">Name</label>
          <input type="text" name="name" data-ng-model="tiger.name">

          <label for="variety">Variety</label>
          <input type="text" name="variety" data-ng-model="tiger.variety">

          <label for="location">Location</label>
          <input type="text" name="location" data-ng-model="tiger.location">

          <label for="continent">Continent</label>
          <input type="text" name="continent" data-ng-model="tiger.continent">

          <label for="nemesis">Nemesis</label>
          <input type="text" name="nemesis" data-ng-model="tiger.nemesis">

          <button type="submit">Update Tiger</button>
          <button data-ng-click="tigers.editing = false">Cancel</button>
        </form>

        <button data-ng-if="!tiger.editing" data-ng-click="tiger.editing = true">Edit</button>
        <button data-ng-click="tigersCtrl.removeTiger(tiger)">Remove Tiger</button>
        </li>
      </ul>

      <form data-ng-if="!tiger.hide" data-ng-submit="tigersCtrl.createTiger()">
        <label for="name">Name</label>
        <input type="text" name="name" data-ng-model="tigersCtrl.newTiger.name">

        <label for="variety">Variety</label>
        <input type="text" name="variety" data-ng-model="tigersCtrl.newTiger.variety">

        <label for="location">Location</label>
        <input type="text" name="location" data-ng-model="tigersCtrl.newTiger.location">

        <label for="continent">Continent</label>
        <input type="text" name="location" data-ng-model="tigersCtrl.newTiger.continent">

        <label for="nemesis">Nemesis</label>
        <input type="text" name="nemesis" data-ng-model="tigersCtrl.newTiger.nemesis"
        placeholder="poachers">

        <button type="submit">Create New Tiger</button>
      </form>
    </section>


    <section id="bearSection" data-ng-controller="BearsController as bearsCtrl"
    data-ng-init="bear.hide = true">

      <button data-ng-click="bearsCtrl.getAll(); bear.hide = false">
        Show All Bears</button>
      <button data-ng-if="!bear.hide" data-ng-click="bear.hide = true">
        Hide All Bears</button>

      <ul data-ng-if="!bear.hide" id="bearlist">
        <li data-ng-repeat="bear in bearsCtrl.bears">
        <span data-ng-if="!bear.editing">{{ bearsCtrl.describe(bear) }}</span>
        <form data-ng-if="bear.editing" data-ng-submit="bearsCtrl.updateBear(bear)">
          <label for="name">Name</label>
          <input type="text" name="name" data-ng-model="bear.name">

          <label for="variety">Variety</label>
          <input type="text" name="variety" data-ng-model="bear.variety">

          <label for="location">Location</label>
          <input type="text" name="location" data-ng-model="bear.location">

          <label for="continent">Continent</label>
          <input type="text" name="continent" data-ng-model="bear.continent">

          <label for="nemesis">Nemesis</label>
          <input type="text" name="nemesis" data-ng-model="bear.nemesis">

          <button type="submit">Update Bear</button>
          <button data-ng-click="bears.editing = false">Cancel</button>
        </form>

        <button data-ng-if="!bear.editing" data-ng-click="bear.editing = true">Edit</button>
        <button data-ng-click="bearsCtrl.removeBear(bear)">Remove Bear</button>
        </li>
      </ul>

      <form data-ng-if="!bear.hide" data-ng-submit="bearsCtrl.createBear()">
        <label for="name">Name</label>
        <input type="text" name="name" data-ng-model="bearsCtrl.newBear.name">

        <label for="variety">Variety</label>
        <input type="text" name="variety" data-ng-model="bearsCtrl.newBear.variety">

        <label for="location">Location</label>
        <input type="text" name="location" data-ng-model="bearsCtrl.newBear.location">

        <label for="continent">Continent</label>
        <input type="text" name="location" data-ng-model="bearsCtrl.newBear.continent">

        <label for="nemesis">Nemesis</label>
        <input type="text" name="nemesis" data-ng-model="bearsCtrl.newBear.nemesis"
        placeholder="poachers">

        <button type="submit">Create New Bear</button>
      </form>
    </section>


    <script src="./bundle.js"></script>
  </body>
</html>
