<section id="{{animal}}Section" data-ng-controller="AnimalsController as animalCtrl"
data-ng-init="animal.hide = true">

  <button data-ng-click="animalCtrl.getAll(); animal.hide = false">
    Show All {{animal}}s</button>
  <button data-ng-if="!animal.hide" data-ng-click="animal.hide = true">
    Hide All {{animal}}s</button>

  <ul data-ng-if="!animal.hide" id="animallist">
    <li data-ng-repeat="animal in animalCtrl.lions">
    <span data-ng-if="!animal.editing">{{ animalCtrl.describe(animal) }}</span>
    <form data-ng-if="animal.editing" data-ng-submit="animalCtrl.updateAnimal(animal)">
      <label for="name">Name</label>
      <input type="text" name="name" data-ng-model="animal.name">

      <label for="variety">Variety</label>
      <input type="text" name="variety" data-ng-model="animal.variety">

      <label for="location">Location</label>
      <input type="text" name="location" data-ng-model="animal.location">

      <label for="continent">Continent</label>
      <input type="text" name="continent" data-ng-model="animal.continent">

      <label for="nemesis">Nemesis</label>
      <input type="text" name="nemesis" data-ng-model="animal.nemesis">

      <button type="submit">Update {{animal}}</button>
    </form>
    <button data-ng-if="animal.editing" data-ng-click="animal.editing = false;
      animalCtrl.usedStashedAnimal(animal)">Cancel</button>

    <button data-ng-if="!animal.editing" data-ng-click="animalCtrl.saveCurrentAnimal(animal);
      animal.editing = true">Edit</button>

    <button data-ng-click="animalCtrl.removeAnimal(animal)">Remove {{animal}}</button>
    </li>
  </ul>
